beautifulsoup4>=4.9.1
cltk>=0.1.111
greek-accentuation>=1.2.0
jupyter
lxml
matplotlib
networkx==2.4
# networkx==2.5
norsecorpus>=1.0.2
notebook>=6.1.5
numpy>=1.19.1
requests>=2.24.0
scikit-learn>=0.23.1
scipy>=1.4.1
sigurd>=1.2.9